---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

import Angular from "./icons/Angular.astro";
import Vue from "./icons/Vue.astro";
import TypeScript from "./icons/TypeScript.astro";
import SCSS from "./icons/SCSS.astro";
import MongoDB from "./icons/MongoDB.astro";
import Lua from "./icons/Lua.astro";
import Express from "./icons/Express.astro";

interface Tag {
	name: string;
	class: string;
	icon: (_props: Record<string, any>) => any;
}

interface Project {
	title: string;
	date: string;
	description: string;
	link: string;
	image: string;
	tags: Tag[];
	github?: string;
}

const TAGS: { [key: string]: Tag } = {
	ANGULAR: {
		name: "Angular",
		class: "bg-gradient-to-r from-[#f0070c] via-[#cc26d5] to-[#7702ff] text-white",
		icon: Angular,
	},
	VUE: {
		name: "Vue",
		class: "bg-[#41b883] text-white",
		icon: Vue,
	},
	TYPESCRIPT: {
		name: "TS",
		class: "bg-[#3178C6] text-white",
		icon: TypeScript,
	},
	SCSS: {
		name: "SCSS",
		class: "bg-[#CD6799] text-white",
		icon: SCSS,
	},
	MONGODB: {
		name: "MongoDB",
		class: "bg-[#13AA52] text-white",
		icon: MongoDB,
	},
	LUA: {
		name: "Lua",
		class: "bg-[#2D8CF0] text-white",
		icon: Lua,
	},
	EXPRESS: {
		name: "Express",
		class: "bg-[#000000] text-white",
		icon: Express,
	},
};

const PROJECTS: Project[] = [
	{
		title: "PokemonRP V2 - Lead Frontend Developer & System Designer",
		description:
			"Modificación multijugador online del juego Grand Theft Auto V inspirada en Pokémon, en un entorno 3D de mundo abierto. Usando Angular y Lua.",
		date: "Febrero 2023 - Actualmente",
		link: "https://pokemonrp.com",
		image: "/projects/pokemon_rp.png",
		tags: [TAGS.ANGULAR, TAGS.SCSS, TAGS.TYPESCRIPT, TAGS.LUA],
	},
	{
		title: "Heroes Service - Fullstack Developer",
		description:
			"Pequeña aplicación donde se pueden gestionar los héroes de una base de datos. Implantación de medidas de integración continua y despliegue a través de Vercel.",
		date: "Junio 2024",
		link: "https://pokemonrp.com",
		image: "/projects/heroes_service.png",
		tags: [TAGS.ANGULAR, TAGS.TYPESCRIPT, TAGS.EXPRESS, TAGS.MONGODB],
	},
	{
		title: "MateoZShop - Frontend Developer",
		description:
			"Tienda online con moneda autogenerada jugando un mapa personalizado en el juego online 'Fortnite' para 'MateoZ' (con una media de más de 1M de seguidores en todas sus plataformas).",
		date: "Diciembre 2023 - Febrero 2024",
		link: "https://mateozshop.com",
		image: "/projects/mateoz_shop.png",
		tags: [TAGS.VUE, TAGS.TYPESCRIPT, TAGS.MONGODB],
	},
	{
		title: "AmpeterShop - Lead Frontend Developer",
		description:
			"Tienda online con moneda autogenerada a través de una integración con la plataforma de streaming 'Kick', para 'Ampeterby7' (con un total de 10M seguidores a través de sus plataformas).",
		date: "Septiembre 2023 - Octubre 2023",
		link: "https://ampetershop.com",
		image: "/projects/ampeter_shop.png",
		tags: [TAGS.ANGULAR, TAGS.SCSS, TAGS.TYPESCRIPT, TAGS.MONGODB],
	},
];
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ image, title, date, description, tags, link, github }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<img
							alt="Recién llegado vs 5 años en Nueva Zelanda"
							class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
							loading="lazy"
							src={image}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row mb-2 gap-x-2">
							{tags.map((tag) => (
								<li>
									<span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
										<tag.icon class="size-4" />
										{tag.name}
									</span>
								</li>
							))}
						</ul>

						<time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">{date}</time>

						<div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									<GitHub class="size-6" />
									Code
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									<Link class="size-4" />
									Preview
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
